{%load static%}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/change_password_reseacher.js' %}"></script>
    <title>Change Password</title>
    {% comment %} <link rel="stylesheet" href="styles.css"> {% endcomment %}
    
</head>


</script> 
<body>
    <header>
        <h1>Welcome to TALKSCRIBE, {{ user.username }}</h1>
        <p>Email: {{ user.email }}</p>
        <h1>Researcher Dashboard - TALKSCRIBE</h1>
        
    </header>
    
    <nav>
        <ul>            
            <li><a class="button" href="{% url 'researcher'%}">Home</a></li>
            <li><a class="button" href="{% url 'check_annotation_researcher'%}">Check Annotation</a></li>
            {% comment %} <li><a class="button" href="{% url 'download_data_researcher'%}">Download Data</a></li> {% endcomment %}
            <li><a class="button" href="{% url 'settings_researcher'%}">Settings</a></li>
        </ul>
    </nav>
<main><div class="container">

    <!-- Reset Password Form -->
    <div class="reset-password-form">
        <h2>Reset Password</h2>
        <p>Enter your registered email address. We will send an OTP for verification.</p>
        <input type="email" id="email" placeholder="Email Address" required>
        <button onclick="requestOTP()">Request OTP</button>

        <!-- Fields for OTP and New Password -->
        <div>
            <p>Enter the OTP sent to your email and set a new password:</p>
            <input type="text" id="otp" placeholder="Enter OTP" required>
            <input type="password" id="newPassword" placeholder="New Password" required>
            <button onclick="verifyAndResetPassword()">Verify and Reset Password</button>
        </div>
    </div>

</div>
</main>


</body>
</html>
